[submodule "CL-HAR"]
	path = CL-HAR
	url = git@github.com:Tian0426/CL-HAR.git
[submodule "src/CL-HAR"]
	path = src/CL-HAR
	url = git@github.com:Tian0426/CL-HAR.git
[submodule "src/labelfix"]
	path = src/labelfix
	url = git@github.com:gentry-atkinson/labelfix.git
